:root {
    --primaryColor: hsl(94, 59%, 35%);
    --hoverColor: #bdf094;
    --textColor: hsl(240, 1%, 48%);
    --bgColor: hsl(220, 10%, 94%);
    --borderColor: hsl(0, 0%, 80%);
    --shadowColor: rgba(0, 0, 0, 0.1);
  }
  
  .showQR {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: var(--bgColor);
    border: 1px solid var(--borderColor);
    border-radius: 8px;
    box-shadow: 0 0 15px var(--shadowColor);
    max-width: 500px;
    margin: 0 auto;
    background-image: url('../../../../assets/main_bg.jpg');
  }
  
  .showQR h2 {
    color: var(--primaryColor);
    margin-bottom: 20px;
    font-size: 1.5rem;
  }
  
  .webcam {
    width: 100%;
    margin-bottom: 20px;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .webcam video {
    width: 100%;
    border-radius: 8px;
  }
  
  .qr-result {
    padding: 15px;
    background-color: white;
    border: 1px solid var(--borderColor);
    border-radius: 8px;
    box-shadow: 0 0 10px var(--shadowColor);
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
  }
  
  .qr-result p {
    color: var(--textColor);
    margin: 0;
  }

.backButton {
  background-color: var(--primaryColor);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.backButton:hover {
  background-color: var(--hoverColor);
}
.success {
  color: green;
}

.error {
  color: red;
}
  