.about {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
}

.about-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.play-icon {
    cursor: pointer;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about-right {
    flex: 1;
    padding-left: 20px;
}

.about-right h3 {
    color: #212EA0;
    padding-bottom: 20px;
}

.about-right h2 {
    padding-bottom: 20px;
}

.about-right p {
    padding-bottom: 10px;
}

.about-img {
    max-width: 100%;
    height: auto;
}

.play-icon {
    cursor: pointer;
    width: 50px;
    /* Adjust as needed */
    height: 50px;
    /* Adjust as needed */
}

@media (max-width: 800px) {
    .about {
        flex-direction: column;
        text-align: center;
    }

    .about-left,
    .about-right {
        width: 100%;
        padding: 10px;
    }

    .about-right {
        padding-left: 0;
    }
}

@media (max-width: 450px) {
    .about {
        padding: 10px;
        /* Giảm padding để tiết kiệm không gian */
    }

    .about-left {
        order: 2;
    }

    .about-left,
    .about-right {
        width: 60%;
        padding: 5px;
        /* Giảm padding để tiết kiệm không gian */
    }

    .about-right p {
        font-size: 14px;
        /* Giảm kích thước font để vừa vặn hơn */
        padding-bottom: 7px;
    }

    .play-icon {
        width: 30px;
        /* Giảm kích thước biểu tượng phát */
        height: 30px;
        /* Giảm kích thước biểu tượng phát */
    }
}