.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}
.navbar .logo{
    width: max(10%, 80px);

}
.navbar .profile{
    width: 80px;
    border: 1px solid black;
    border-radius: 50%;
}