
:root{
    --PrimaryColor: hsl(94, 59%, 35%);
    --HoverColor: #bdf094;
    --paleGreen: hsl(96, 75%, 89%);
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(0, 0%, 18%);
    --textColor: hsl(240, 1%, 48%);
    --bgColor: hsl(220, 10%, 94%);
    --greyText: rgb(190, 190, 190);
    --inputColor: hsl(330, 12%, 97%);


    --biggestFontSize: 2.5rem;
    --h1FontSize: 1.5rem;
    --h2FontSize: 1.25rem;
    --h3FontSize: 1rem;
    --normalFontSize: .938rem;
    --smallFontSize: .813rem;
    --smallestFontSize: .75rem;
}
.loginsignup{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 200px;
    width: 600px;
    background-color: #fff;
    padding-bottom: 30px;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}
.text{
    color: #212EA0;
    font-size: 48px;
    font-weight: 700;
}
.underline{
    width: 61px;
    height: 6px;
    background: #212EA0;
    border-radius: 9px;
}
.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background-color: #EAEAEA;
    border-radius: 6px;
}
.input img{
    margin: 0px 30px;
}
.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}
.forgot-password{
    padding-left: 62px;
    margin-top: 27px;
    color: #797979;
    font-size: 18px;
}
.forgot-password span{
    color: #4C00B4;
    cursor: pointer;
}
.submit-container{
    display: flex;
    gap: 30px;
    margin: 60px auto;
}
.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background: #212EA0;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}
.option-login{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}
.login-button {
    width: 4rem;
    height: 4rem;
    border: none;
    background: var(--whiteColor);
    
    box-shadow: 0 2px 10px var(--greyText);
    cursor: pointer;
    transition: all 0.3s ease-in-out 0s;
  }
.login-button img{
    width: 4rem;
    height: 4rem;
}
.siuuuu{
    width: 2rem;
    height: 1.5rem;
}
.login-button:hover {
    background: var(--greyText);
}
  
.login-icon {
    width: 2rem;
    height: 2rem;
  }

.gray{
    background: #EAEAEA;
    color: #676767;
}


@media (max-width: 450px) {
    .loginsignup {
        width: 60%;
        margin-top: 80px;
        padding: 20px;
    }

    .header .text {
        font-size: 30px;
    }

    .inputs {
        margin-top: 30px;
    }

    .input {
        width: 300px;
        background-color: #EAEAEA;
        height: 45px;
    }

    .input input {
        font-size: 14px;
        height: 50px;
        color: #797979;
    }

    .forgot-password {
        font-size: 16px;
        padding-left: 10px;
    }

    .submit-container {
        margin: 40px auto;
    }

    .submit {
        height: 50px;
        font-size: 16px;
    }

    .login-button {
        width: 3rem;
        height: 3rem;
    }

    .login-button img {
        width: 3rem;
        height: 3rem;
    }

    .siuuuu {
        width: 1.5rem;
        height: 1rem;
    }

    .submit-container{
        gap: 10px;
        margin: 30px auto;
    }
    .submit-container div{
        font-size: 14px;
        width: 120px;
        border-radius: 40px;
    }
}




