:root {
    --PrimaryColor: hsl(94, 59%, 35%);
    --HoverColor: #bdf094;
    --paleGreen: hsl(96, 75%, 89%);
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(0, 0%, 18%);
    --textColor: hsl(240, 1%, 48%);
    --bgColor: hsl(220, 10%, 94%);
    --greyText: rgb(190, 190, 190);
    --inputColor: hsl(330, 12%, 97%);

    --biggestFontSize: 2.5rem;
    --h1FontSize: 1.5rem;
    --h2FontSize: 1.25rem;
    --h3FontSize: 1rem;
    --normalFontSize: .938rem;
    --smallFontSize: .813rem;
    --smallestFontSize: .75rem;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Ngăn chặn việc trượt ngang */
}

.hero {
    width: 100%;
    min-height: 150vh;
    background: linear-gradient(rgba(2, 84, 95, 0.474), rgba(11, 142, 109, 0.419)), 
        url('../../assets/about.png');
    background-size: cover;
    background-position: center;
    color: var(--whiteColor);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero-text {
    text-align: center;
    max-width: 800px;
    padding: 0 20px; /* Thêm padding để tránh nội dung tràn */
}

.hero-text h1 {
    font-size: 60px;
    font-weight: 600;
}

.hero-text p {
    font-weight: 700;
    margin: 10px auto 20px;
    line-height: 1.4;
}

/* --------- media query --------- */

@media (max-width: 850px) {
    .hero-text h1 {
        font-size: 40px;
    }
}

@media (max-width: 650px) {
    .hero-text h1 {
        font-size: 30px;
        max-width: 400px;
        margin: auto;
    }
    .hero-text p {
        font-size: 14px;
        margin: 15px auto 30px;
    }
}

@media (max-width: 450px) {
    .hero {
        background-size: 100% auto; /* Giữ hình nền trong bề ngang màn hình */
        background-position: center center;
        min-height: 70vh;
        overflow-x: hidden; /* Đảm bảo không bị trượt ngang */
    }
    .hero-text h1 {
        font-size: 23px;
        max-width: 270px;
        margin: auto;
    }
    .hero-text p {
        font-size: 10px;
        margin: 13px auto 27px;
    }
}
